<h1>Landing page to check login or logout</h1>

<% if current_user %>
  <h1>Hello <%= current_user.email %> </h1>
  <a href="<%= logout_path %>">Logout</a>
<% else %>
  <a href="<%= signin_path  %>">Sign in</a>
<% end %>