<h1>Fenix Store Admin</h1>
<p>Admin Books and Games</p>



<% if user_signed_in? %>
    <%= button_to "log out", destroy_user_session_path, method: :delete %>
<% else%>
    <%= button_to "log in", new_user_session_path, method: :get %>
<% end %>